section.jobs-description {
    .jobs-slider {
        .slick-slide {
            text-align: center;

            .title {
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                color: $black;
                padding: 6px;
            }

            &.slick-current {
                background: $primary;

                .title {
                    color: $white;
                }
            }
        }
    }

    .jobs-description-slider {
        .slick-slide {
            height: 411px;
            position: relative;
            margin: 0 8px;

            .image {
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: 1;
            }
            
            .overlay {
                background: linear-gradient(180deg, #1D3046 0%, rgba(29, 48, 70, 0.00) 100%);
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 10;
                text-transform: uppercase;
            }
        }
        
    }
}

section.common-form {
    background: linear-gradient(180deg, #2E435B 0%, #5C7CA0 100%);
    padding: 90px 0;

    .form {
        box-shadow: 0px 5.844px 10.853px 1.67px rgba(0, 0, 0, 0.25);
    }

    input.form-control, textarea.form-control, select.form-control {
        background: rgba(255, 255, 255, 0.70);
        border-radius: 0;
        border: none;
        color: $black;
        font-weight: 500;
    }
}

footer {

}