main.homepage {
    .divider {
        height: 8px;
        width: 100%;
    }

    section.homepage-banner {
        background: imgUrl('homebanner.jpg') center top;
        background-size: cover;


        .bannerServiceSlider {
            .slick-track {
                display: flex;
            }

            .slick-slide {
                height: inherit;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                margin: 0 10px;
                background: rgba(0, 16, 51, 0.4);
                border-bottom: 5px solid $primary;
                box-sizing: border-box;
                color: white;
                font-size: 18px;
                font-weight: 500;

                @include media-breakpoint-down(sm) {
                    font-size: 16px;
                }
            }
        }
    }

    section.business-needs {
        .bg-container {
            padding: 69px 0 390px;
            background: imgUrl('business-needs.jpg') center top;
            background-size: cover;
        }
    }
}