main.homepage {
    section.homepage-banner {
        background: imgUrl('homebanner.jpg') center top;
        background-size: cover;


        .bannerServiceSlider {
            .slick-track {
                display: flex;
            }

            .slick-slide {
                height: inherit;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                margin: 0 10px;
                background: rgba(0, 16, 51, 0.4);
                border-bottom: 5px solid $primary;
                box-sizing: border-box;
                color: white;
                font-size: 18px;
                font-weight: 500;
                text-align: center;

                @include media-breakpoint-down(sm) {
                    font-size: 16px;
                }
            }
        }
    }

    section.business-needs {
        background: imgUrl('business-needs.jpg') center top;
        padding: 64px 0;

        @include media-breakpoint-up(lg) {
            padding: 69px 0 390px;
        }

        .cta-text {
            position: relative;
        
            @include media-breakpoint-down(sm) {
                font-size: 18px !important;
            }
        
            &::before {
                content: "";
                height: 30px;
                width: 30px;
                position: absolute;
                top: 10px;
                right: 17px;
            }
        
            &.cta-before-primary::before {
                background: url('data:image/svg+xml,<svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.1309 0.076416L30 2.90365L13.2243 28.1081H9.35515L0 14.4532L3.8691 10.6936L11.2897 17.9121L26.1309 0.076416Z" fill="%237CC5E5"/></svg>') center no-repeat;
            }
        
            &:not(.cta-before-primary)::before {
                background: url('data:image/svg+xml,<svg width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.1309 0L30 2.72252L13.2243 26.9935H9.35515L0 13.8443L3.8691 10.2239L11.2897 17.1751L26.1309 0Z" fill="%231D3046"/></svg>') center no-repeat;
            }
        }        
    }
}

main.aboutuspage {
    .project-worker-img {
        @include media-breakpoint-up(xl) {
            position: absolute;
            top: -120px;
            right: -60px;
        }
    }
}

main.servicespage {
    .servicesList {
        .service-card {
            height: 312px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;

            .main-image {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .content {
                background: $tertiary;
                color: $white;
                padding: 16px 24px;
                position: relative;

                .icon {
                    position: absolute;
                    right: 24px;
                    top: -35px;
                    background: $white;
                    height: 70px;
                    width: 70px;
                    border-radius: 100px;
                    filter: drop-shadow(6.614px 6.614px 13.229px rgba(0, 0, 0, 0.80));
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 11px 16px 20px;

                    .sus {
                        position: absolute;
                        bottom: -1px;
                        left: 5px;
                    }
                }

                .permalink {
                    height: 0;
                    opacity: 0;
                    transition: 0.2s all ease-in-out;
                }
            }

            &:hover {
                .content {
                    .permalink {
                        height: auto;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

main.innerservicePage {
    .projects-slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            margin: 0 6px;
            height: 240px;
            position: relative;

            .overlay {
                background: rgba(124, 197, 229, 0.9);
                height: 100%;
                width: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: 0.2s all;
            }

            &:hover {
                .overlay {
                    opacity: 1;
                }
            }
        }
    }
}